.contenedor {
    background-color: grey;
    display: flex;
    flex-direction: row;    
    align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;


}

.item {
	background-color: #ccc;
	font-size: 30px;
	width: 200px;
	height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}